<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=title%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <!---Navigation bar-->
    <nav class="nav navbar-default">
        <ul class="nav navbar-nav">
            <li> <a href="/">HOME</a></li>
            <%for(i=0;i<nav.length;i++){%>
            <li> 
                <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
            </li>
            <%}%>
           
           
        </ul>
    </nav>
    <!--End of Navigation bar-->

    <!---Start of Heading-->
    <div class="container-fluid">
            <p class="pstyle">BOOKS</p>
        </div>
    <div class="row">
        <div class="col-sm-4"></div>

    </div>
    <!---End of Heading-->

    <!---Strap Contents-->
    <%for(i=0;i<books.length;i++){%>
    <div class="jumbotron">
        <p><%=books[i].title%></p>
        <button type="button" class="btn"><%=books[i].author%></button>
        <img src="/images/<%=books[i].image%>" class="img-circle" alt="logo">
        <ul>
            <li><%=books[i].gener%> </li>
            <a href="/books/<%=i%>" class="style1">Read more</a></li>
        </ul>
    </div>
    <%}%>
        <hr class="solid">
    <!--</div>-->

   <!-- <div class="jumbotron">
        <p>14 Usefull Site For Designers</p>
        <button type="button" class="btn">devg.com</button>
        <img src="./2.jpg" class="img-circle" alt="logo">
        <ul>
            <li>Last week </li>
            <a href="#" class="style1">Read more</a></li>
        </ul>
        <hr class="solid">
    </div>
    <div class="jumbotron">
        <p>TrendPaper - What's Trending in the World</p>
        <button type="button" class="btn">betail.st</button>
        <img src="1.jpg" class="img-circle" alt="logo">
        <ul>
            <li>Last week </li>
            <a href="#" class="style1">Read more</a></li>
        </ul>
        <hr class="solid">
        <button type="button"class="bstyle">More</button>  
            
        </div>
    </div>-->

    <!---End Of Strap contents-->

    <!---Footer contents-->
    <div class="container">
        <h1>Follow Us</h1>
        
            <button type="button" class="btn btn-info">More</button>
            <button type="button" class="btn btn-primary">Facebook</button>
            <button type="button" class="btn btn-danger">Google+</button>
       
    </div>
    <!---End of Footer-->

</body>
</html>